##### Requirements with Version Specifiers ######

# For src code (getting haplotypes) #
biopython==1.79
matplotlib==3.5.0
matplotlib-inline==0.1.3
numpy==1.21.4
pandas==1.3.4
toolz==0.11.2
xmltodict==0.12.0

# For updates #
biopython==1.79
json5==0.9.6
jsonschema==4.2.1
pandas==1.3.4
xmltodict==0.12.0

# For Concatenation #
numpy==1.21.4
pandas==1.3.4